mat-toolbar {
    margin-bottom: 20px;
  }
  
  mat-toolbar > span {
    margin-left: 10px;
  }
  
  .content-wrapper {
    max-width: 1400px;
    margin: auto;
    background-color: #2E4053;

  }
  
  .container-wrapper {
    display: flex;
    justify-content: space-around;
    background-color: #2E4053;

  }
  
  .container {
    width: 400px;
    margin: 0 25px 250px 0;
    background-color: #2E4053;
  }
  
  .list {
    /* border: solid 4px #D15075; */
    /* border-radius: 5px; */
    min-height: 150px;

  }
  
  app-new-task {
    margin-bottom: 30px;
  }
  
  .empty-label {
    font-size: 2em;
    padding-top: 10px;
    text-align: center;
    opacity: 0.2;
  }
  .cdk-drag-animating {
    transition: transform 250ms;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .mat-raised-button{
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  .h1-1{
    text-align: center;
    color: white;
    font-weight: bold;
    background-color:#F1C40F;
    margin-bottom: 0px;
    border-radius: 5px;
    font-size: 20px;
   }
  .h1-2{
    text-align: center;
    /* color: #AF7AC5; */
    color: white;
    font-weight: bold;
    background-color:#48C9B0;
    margin-bottom: 0px;
    border-radius: 5px;
    font-size: 20px;

  }
  .h1-3{
    text-align: center;
    /* color: #5DADE2; */
    color: white;
    font-weight: bold;
    background-color: #D35400;
    margin-bottom: 0px;
    border-radius: 5px;
    font-size: 20px;

  }
  .navbar{
    min-height: 70px;
    background-image: linear-gradient(to right, #cc2b5e 0%, #753a88 100%);
    /* background-image: linear-gradient(to right, #ec008c 0%, #fc6767 100%); */

  }
  .navbar-logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    
  }
  .nav-link{
    color: white;
    font-size: 17px;
    margin-top: 15px;
    font-weight: bold;
  }
  