<!-- <mat-toolbar className="toolbar" color="primary">
  <mat-icon>assignment</mat-icon>
      <span>&nbsp;&nbsp;&nbsp;Kanban Board </span>
</mat-toolbar> -->
<nav class="navbar">
  <a class="navbar-logo" href="#"><i class="fas fa-clipboard-list" style="color: white;font-size: 30px;margin-right: 15px;margin-left: 7px;"></i>Kanban Board </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-sliders-h" style="color:white;;"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
     
    </ul>
   
  </div></nav>

<div class="content-wrapper">
  <button (click)="newTask()" mat-raised-button color="primary" className="mat-raised-button">
    <mat-icon className="mat-icon-2">add_circle_outline</mat-icon> Add new task
  </button>
 
<div class="container-wrapper">
  <div class="container">
    <mark class="h1-1">&nbsp;&nbsp;&nbsp;Backlog&nbsp;&nbsp;&nbsp;&nbsp;</mark>
    <mat-card class="list" cdkDropList id="todo" #todoList="cdkDropList" [cdkDropListData]="todo | async" [cdkDropListConnectedTo]="[doneList, inProgressList]"
  (cdkDropListDropped)="drop($event)"
  class="list">
  <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
  <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo | async" cdkDrag [task]="task"></app-task>
</mat-card>
  </div>

  <div class="container">
    <mark class="h1-2">&nbsp;In progress&nbsp;&nbsp;&nbsp;&nbsp;</mark>

    <mat-card
      cdkDropList
      id="inProgress"
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress | async"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      (cdkDropListDropped)="drop($event)"
      class="list">
      <p class="empty-label" *ngIf="(inProgress | async )?.length === 0">Empty list</p>
      <app-task (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress | async" cdkDrag [task]="task"></app-task>
    </mat-card>
  </div>

  <div class="container">
    <mark class="h1-3">&nbsp;&nbsp;&nbsp;Done&nbsp;&nbsp;&nbsp;&nbsp;</mark>

    <mat-card
      cdkDropList
      id="done"
      #doneList="cdkDropList"
      [cdkDropListData]="done | async"
      [cdkDropListConnectedTo]="[todoList, inProgressList]"
      (cdkDropListDropped)="drop($event)"
      class="list">
      <p class="empty-label" *ngIf="(done|async)?.length === 0">Empty list</p>
      <app-task (edit)="editTask('done', $event)" *ngFor="let task of done | async" cdkDrag [task]="task"></app-task>
    </mat-card>
  </div>
</div>
